body {
    color:blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

a {
    text-align: left;
    text-decoration: none;
    color: rgb(80, 79, 79);
}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blanchedalmond;
    color: rgb(80, 79, 79);
    padding: 15px;
    border-radius: 4px;
    border: 2px solid darkseagreen;
    text-align: center;
    display: block;
    margin: 10px auto;
    font-size: 18px;
}

#heading-box {
    background-color: blanchedalmond;
    color: darkcyan;
    padding: 5px 15px;
    margin-bottom: 10px;
}

#main-box {
    margin: auto;
    width: 50%;
    background-color: darkcyan;
    padding: 10px;
    text-align: center;
}

.highscore-box {
    background-color: blanchedalmond;
    color: darkcyan;
    padding: 15px;
}

.highscore-button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkseagreen;
    color: white(80, 79, 79);
    padding: 15px;
    border-radius: 4px;
    border: 2px solid darkcyan;
    text-align: center;
    display: block;
    margin: 10px auto;
    font-size: 18px;
}

.align-right {
    text-align: right;
}

.red-text {
    color: red;
}

.green-text {
    color: darkseagreen;
}

.hide {
    display: none;
}