body {
    color:grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

a {
    text-align: left;
    text-decoration: none;
    color: greenyellow;
}

.align-right {
    text-align: right;
}

#heading-box {
    background-color: grey;
    color: greenyellow;
    padding: 5px 15px;
    margin-bottom: 10px;
}

#main-box {
    margin: auto;
    width: 50%;
    background-color: khaki;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #555555;
    color: white;
    padding: 15px;
    border-radius: 4px;
    border: 2px solid #008CBA;
    text-align: center;
    display: block;
    margin: 10px auto;
}

.hide {
    visibility: hidden;
}